doctype html
html(lang='en')
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    block css
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
    block js
        script(src='/components/jquery/dist/jquery.min.js')
        script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    title= title
body
    include navbar
    block content