extends layout

block content
    div.caja
        h1= title
        form(action='/admin',method='post')
            table
                tr
                    td 
                        label(for='email') E-mail:
                    td
                        input(type='text', name='email', id='email', size=50, placeholder='E-mail here...')
                tr
                    td
                        label(for='password') Pasword:
                    td
                        input(type='password', name='password', id='password', size=50, placeholder='Password...')
                tr
                    td
                        &nbsp;                
                tr
                    td(align="center",colspan="2")
                        input(type='submit', value='Login')
style.
    
    form { margin:0 auto }
    form label { min-width: 80px; display: inline-block; }
    form > div { padding: 5px; }
