// path #{path}
-if(user){
.menu-nav
    li(class=((path === '/' || path === '') ? 'active' : ''))
        a(id='menu-nav', href='/') Inicio
    li(class=(path === 'panel' ? 'active' : ''))
        a(id='menu-nav', href='/panel/employees') Panel
    li(class=(path === 'logout' ? 'active' : ''))
        a(id='menu-nav', href='/logout') Cerrar sesión
-}else{
.menu-nav
    li(class=((path === '/' || path === '') ? 'active' : ''))
        a(id='menu-nav', href='/') Inicio
    li(class=(path === 'admin' ? 'active' : ''))
        a(id='menu-nav', href='/admin') Administrador
-}
style.
    .active{background-color:red;}
    .menu-nav{
        position: fixed;
        display: block;      
        list-style: none;
        background-color:#000;
        padding: 10px 20px;
        width:100%;
        top:0;
        left:0;
    }
    .menu-nav li{
        float: left;
        padding: 0 10px;
    }
    a#menu-nav{
        text-decoration: none;
        color: #fff;
    }
    a#menu-nav:link{
        text-decoration: none;
        color: #fff;
    }
    a#menu-nav:hover{
        text-decoration: none;
        color: #fff;
    }