extends layout
block content
    div.caja
        h1= title
        - if(errores)
            div.errores
                ul
                - each a in errores
                    li=a
        br
        form(action='',method='post')
            table
                tr
                    td
                        label(for='nombre') Nombre
                tr
                    td
                        input(type='text', name='nombre', id='nombre', size=50, placeholder='Ingrese aquí su nombre...')
                tr
                    td
                        &nbsp;
                tr
                    td
                        label(for='apellido') Apellido
                tr
                    td
                        input(type='text', name='apellido', id='apellido', size=50, placeholder='Ingrese aquí su apellido...')
                tr
                    td
                        &nbsp;
                tr
                    td
                        label(for='email') E-mail
                tr
                    td
                        input(type='text', name='email', id='email', size=50, placeholder='Ingrese aquí su email...')
                tr
                    td
                        &nbsp;
                tr
                    td
                        label(for='password') Contraseña
                tr
                    td
                        input(type='password', name='password', id='password', size=50, placeholder='Ingrese aquí una contraseña...')
                tr
                    td
                        &nbsp;
                tr
                    td
                        label(for='password2') Confirmar contraseña
                tr
                    td
                        input(type='password', name='password2', id='password2', size=50, placeholder='Aquí repita la contraseña...')
                tr
                    td
                        &nbsp;
                tr
                    td
                        input(type='submit', value='Save')
    style.
        div.errores { border:1px red solid; color:red; padding: 10px 10px 10px 10px }